/**********************
    COLOR PALETTE
***********************/
$buttercup: #f2b71d;
$red: #ff0000;
$white: #fff;
$dove-gray: #6b6b6b;
$firefly: #0d2229;
$shakespeare: #edf2f5;
$black-haze: #e4e7e7;
$hover-black: rgba(0, 0, 0, 0.4);

/**********************
    HEADER SETTING
***********************/
$header-height: 80px;
$link-font-size: 14px;
$logo-width: 150px;

/**********************
    MAIN SETTING
***********************/

/* Hero Section */
$hero-height: 565px;
$text-container-width: 420px;

/* Sign Section */
$sign-height: 405px;

/* OrderBook Section */
$order-book-height: 405px;

/* Goals Section */
$goal-section-height: 405px;

/**********************
    FOOTER SETTING
***********************/
$footer-heigth: 230px;