/**********************
    COLOR PALETTE
***********************/

$text-color: #252525;
$buttercup: #f2b71d;
$red: #ff0000;
$white: #fff;
$dove-gray: #6b6b6b;
$firefly: #0d2229;



/**********************
    HEADER SETTING
***********************/
$header-height: 80px;
$header-padding: 1rem;
$link-font-size: 14px;
$logo-width: 150px;